{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-async-promise-executor": "off",
    "no-useless-escape": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  
  ],
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "build/",
    "coverage/",
    "docs/",
    "examples/",
    "scripts/",
    "src/**/*.test.ts",
    "src/**/*.test.tsx",
    "src/**/*.test.js",
    "src/**/*.test.jsx",
    "src/**/*.spec.ts",
    "src/**/*.spec.tsx",
    "src/**/*.spec.js",
    "src/**/*.spec.jsx"
  ]
} 